<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <nav>
        <a href="/">&rtrif; Home</a>
    </nav>
    <main>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>