<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head.ejs") %>    
<body>
    <%- include("./partials/header.ejs") %>
    <nav>
        <a href="/productos">&rtrif; Productos</a>
    </nav>
    <main>
        <h2>Ejercicio 4</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae illo in numquam nihil ipsam. Ipsam vel hic nobis nemo numquam eius, excepturi accusamus consequatur omnis sint? Vitae ex sapiente ipsum.</p>
        <p>Sunt accusamus eligendi earum sapiente eos modi maxime dolores nulla? Quas nobis id sapiente consequatur perferendis culpa, omnis, deleniti ipsam debitis, veritatis quaerat adipisci aliquam suscipit at. Quod, necessitatibus accusantium?</p>
        <p>Eum sint ut repellendus repellat ea aliquid veniam voluptatum blanditiis. Iure nostrum necessitatibus distinctio, nulla at, accusamus quidem deserunt eum quia alias impedit cupiditate, debitis obcaecati numquam eaque officiis corporis.</p>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>