body {
  text-align: center;
}
h1 {
  color: crimson;
}
p {
  color: royalblue;
  text-align: justify;
}
table {
  margin: 20px auto;
}
td {
  border: royalblue 1px solid;
}
footer {
  margin-top: 20px;
  color: crimson;
}

a {
    color:white;
  padding: 10px;
  background-color: darkgoldenrod;
  text-decoration: none;
}

a:visited {
    color: white;
}